@inject ISettingsService SettingsService
@inject NavigationManager Nav

<EditForm Model="@ApiKey" OnValidSubmit="ApplyConfig">
                    <div class="mb-3">
                        <label class="form-label">Adicione aqui sua chave de api se possuir uma.</label>
                        <input type="text" name="apiKey" value="@ApiKey" />
                    </div>

                    <button class="btn btn-primary" type="submit">Salvar</button>
</EditForm>

@code {
    private string? apiKey;
    public string ApiKey = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        apiKey = SettingsService.ApiKey.Value ?? string.Empty;
        ApiKey = apiKey;
    }

    private async Task ApplyConfig()
    {

        apiKey = ApiKey.Trim();
        SettingsService.ApiKey.Update(apiKey);
        Nav.NavigateTo("/");
    }
}