@using Domain.Entity
@using Infrastructure.Data

@inject ISettingsService SettingsService
@inject NavigationManager Nav
@inject MobileDbContext dbContext

<EditForm Model="@config" OnValidSubmit="ResetSystemConfig">
                        <button class="btn btn-primary" type="submit">Resetar</button>
                    </EditForm>

@code {
    private object config = new { };
    private async Task ResetSystemConfig()
    {

        await dbContext.Database.EnsureDeletedAsync();
        await SettingsService.SaveStudyConfigAsync(null);
    }
}