@page "/anki"

@using System.Text
@using Business.Model
@using MauiApp1.Components.Challenge
@using Business.ViewModel
@using Domain
@using Domain.Events
@using CommunityToolkit.Maui.Alerts;
@using MauiApp1.Components.User
@using Microsoft.AspNetCore.WebUtilities;

@inject NavigationManager Navigation
@using MauiApp1.Services
@attribute [StreamRendering(true)]

@inject DatabaseService Database

<PageTitle>Frases Anki</PageTitle>

@if (cards == null)
{
    <LoadingSpinner></LoadingSpinner>
}
else if (currentCard != null)
{
    <div class="anki-container">
        <div class="anki-top-section transition-all duration-300 ease-in-out" style="filter: blur(@(isInputFocused ? "2px" : "0")); transform: scale(@(isInputFocused ? "0.95" : "1"));">
            <!-- Indicadores superiores -->
            <div class="mb-3 flex columns-3 gap-4 justify-between items-center">
                <div>
                    <span class="badge bg-gradient-to-r from-indigo-500 to-indigo-700">Novos: @newCount</span>
                    <span class="badge bg-gradient-to-r from-green-500 to-green-700 text">Revisões: @reviewCount</span>
                </div>

                <!-- Level display -->
                @if (totalExp >= 0)
                {
                    var (level, expInto, expNeeded) = ExpCalculator.GetLevelProgress(totalExp);

                    <LevelIndicator ExpNeeded="expNeeded" ExpInto="expInto" Level="level"></LevelIndicator>
                }
            </div>
        </div>

        <div class="card p-4 mb-3" style="max-width: 600px; position: relative">
            @if (currentCard.Repetitions > 5 && new Random().NextDouble() < 0.6)
            {
                <ListeningChallenge CurrentCard="currentCard" OnSkip="SkipCard" OnChallengeCompleted="HandleChallengeCompleted"></ListeningChallenge>
            }
            else{
                <TextChallenge CurrentCard="currentCard" OnSkip="SkipCard" OnChallengeCompleted="HandleChallengeCompleted"></TextChallenge>
            }
        </div>
    </div>
}
else
{
    <div class="card p-4 mb-3 text-center" style="max-width: 600px;">
        <h3>🎉 Sessão concluída!</h3>
        <p>Você revisou todos os cards de hoje.</p>
        <ButtonPrimary OnClick="ReturnToReview">Retornar à tela de seleção</ButtonPrimary>
    </div>
}
@code {
    [Parameter] public ReviewSessionMode ReviewSessionMode { get; set; } = ReviewSessionMode.Regular;
    private ICollection<SrsCard> cards;
    private SrsCard currentCard;
    private int newCount;
    private int reviewCount;
    private int totalExp;
    private bool isInputFocused = false;


    protected override async Task OnInitializedAsync()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (query.TryGetValue("mode", out var limitParam) && Enum.TryParse<ReviewSessionMode>(limitParam, out var mode))
        {
            ReviewSessionMode = mode;
        }

        totalExp = await Database.GetUserExpAsync();
        cards = await Database.GetDueCards(ReviewSessionMode, totalExp);

        // Calculate counters
        newCount = cards.Count(c => c.Repetitions == 0);
        reviewCount = cards.Count(c => c.Repetitions > 0);
        NextCard();
    }

    private async Task SkipCard()
    {
        NextCard();
    }

    private void NextCard()
    {
        if (cards == null || !cards.Any())
        {
            currentCard = null;
            StateHasChanged();
            return;
        }

        // Pick random card
        var rnd = new Random();
        currentCard = cards.ElementAt(rnd.Next(cards.Count));

        // Remove it from the pool once shown
        cards.Remove(currentCard);

        // Update counters
        newCount = cards.Count(c => c.Repetitions == 0);
        reviewCount = cards.Count(c => c.Repetitions > 0);

        StateHasChanged();
    }

    private void HandleChallengeCompleted(int expEarned)
    {
        totalExp += expEarned;
        NextCard();
    }

    private void RestartSession()
    {
        // reload everything fresh
        Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
    }
    private void ReturnToReview()
    {
        Navigation.NavigateTo(Routes.SessionSelect);
    }

}
