@page "/settings"
@using Domain.Entity
@using Infrastructure.Data

@inject ISettingsService SettingsService
@inject NavigationManager Nav
@inject MobileDbContext dbContext


<RadzenAccordion>
    <Items>
        <RadzenAccordionItem Text="Estudo" Icon="book">
            <MauiApp1.Components.Config.StudyConfigComponent></MauiApp1.Components.Config.StudyConfigComponent>
        </RadzenAccordionItem>
        <RadzenAccordionItem Text="Sistema" Icon="bug_report">
            <div class="space-y-4">
                <MauiApp1.Components.Config.ApiConfigComponent></MauiApp1.Components.Config.ApiConfigComponent>
                <MauiApp1.Components.Config.SystemConfigComponent></MauiApp1.Components.Config.SystemConfigComponent>
            </div>
        </RadzenAccordionItem>
    </Items>
</RadzenAccordion>
