@page "/session-select"
@inject NavigationManager Navigation

<h2 class="text-2xl">Nível atual: <b>@ExpCalculator.GetLevel(userExp)</b></h2>

<h3>Escolha sua sessão de treino</h3>

<div class="d-flex flex-column gap-2 mt-lg-1" style="max-width: 250px;">
    <button class="btn btn-success" @onclick="() => StartSession(ReviewSessionMode.Quick)">
        ⚡ Rápida (5 novos, 15 revisados)
    </button>

    <button class="btn btn-primary" @onclick="() => StartSession(ReviewSessionMode.Regular)">
        📘 Normal (10 novos, 30 revisados)
    </button>

    <button class="btn btn-danger" @onclick="() => StartSession(ReviewSessionMode.Grind)">
        💪 Foco (20 novos, 60 revisados)
    </button>

    <CurriculumComponent UserExp="userExp"></CurriculumComponent>
</div>

@code {
    private int userExp;
    private void StartSession(ReviewSessionMode mode)
    {
        Navigation.NavigateTo($"{Routes.CardsReview}?mode={mode}");
    }
    protected override async Task OnInitializedAsync()
    {
        userExp = await DatabaseService.GetUserExpAsync();
    }
}