<button class="btn btn-primary py-2 px-6 rounded-lg font-bold text-white shadow-lg
           bg-gradient-to-r from-indigo-500 to-indigo-700
           hover:from-indigo-600 hover:to-indigo-800
           transition-all duration-200
           @Class"
        type="@Type"
        @onclick="OnClick"
        disabled="@Disabled">
    @ChildContent
</button>

@code {
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Type { get; set; } = "button";
    [Parameter] public bool Disabled { get; set; } = false;
}
